<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76405033931-7436on6qm45r34mc01bk4mskl8bgv36c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76405033931-7436on6qm45r34mc01bk4mskl8bgv36c</string>
	<key>API_KEY</key>
	<string>AIzaSyDC-k_EMTSRgTg2hDTJcIVJPvPRGqlwwJs</string>
	<key>GCM_SENDER_ID</key>
	<string>76405033931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coolcodes.hypelab</string>
	<key>PROJECT_ID</key>
	<string>hypelab-fc184</string>
	<key>STORAGE_BUCKET</key>
	<string>hypelab-fc184.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76405033931:ios:23cbdef5b4145dbb98c44e</string>
	<key>DATABASE_URL</key>
	<string>https://hypelab-fc184.firebaseio.com</string>
</dict>
</plist>